@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&family=Press+Start+2P&family=Roboto:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p{
  line-height: 1.5;
  font-size: 1.3125rem;
  font-family: "Roboto", sans-serif;
}
h2{
  font-size: 2.25rem;
  font-family: "Playfair Display", serif;
  margin-bottom: 1em;
}
img{
  width: 100%;
}
.container {
  max-width: 1100px;

  width: 80vw;
  margin: 0 auto;
}

.d-flex{
  display: flex;
  justify-content: space-between;
  align-items: start;
}
/* ------------- First-Section--------------------- */
.hero {
  background-color: #f3eed9;
 padding: 8em 0;
 text-align: center;
}

.hero__content{
  width: 60%;
}
.hero__content__text h1 {
  font-size: 3.75rem;
  font-family: "Playfair Display", serif;
  color: #824936;
  line-height: 1;
  margin-top:0.5em;
}
.hero__p {
  font-size: 1.125rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
}

/* -------second section--------------- */


.section-first{
  padding: 5em 0;
}
.section-header{
  text-align: center;
 
}
.section-first__content__text p{
  width: 48%;

}
.section-header__first{
  color: #824936;
  
}

.section-content__text,
.section-img{
  width: 48%;

}
.section-second{
  background-color: #222C2A;
  color: #ffff;
  padding: 3em 0;
}

.section-third{
  background-color: #824936;
  padding: 3em 0;
  color: #f3eed9;
}

@media